.tour {
    background-color: rgba(0, 0, 0, 0.6);
    /* opacity: .6; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.list-cont {
    width: 50%;
    margin-bottom: 100px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
    border-radius: 5px;
}

.tour-title {
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-group-item {
    background-color: rgba(0, 0, 0, 0.0)!important;
    color: white !important;
    border-color: white !important;
    justify-content: space-between !important;
    display: flex;
    border-bottom: 1px solid white !important;
}