.tour {
    background-color: black;
    opacity: .6;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.list-cont {
    width: 50%;
}

.tour-title {
    color: white;
    padding-bottom: 20px;
}

.tour-us {
    color: white;
}

.list-group-item {
    background-color: black !important;
    color: white !important;
    border-color: white !important;
    justify-content: space-between !important;
    display: flex;
}

.date {
    align-self: end !important;
    display: flex !important;
}